	
	<div class="jumbotron">
		<h1 class="text-center">Posts Index Page</h1>
	</div>


	<% @posts.each do |post| %>
		<div class="well">
			<div class="post_wrapper">
				<h2 class="title"><%= link_to post.title, post %></h2>
				<p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
				<h3><%= post.body %></h3>
			</div>
		</div>
	<% end %>

	<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
